@using WebApplication3.Models
@model ChangePassword

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Please change your password</h2>
<div class="row">
    <div class="col-md-3">
        @using (@Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "has-error" })
            @Html.LabelFor(x => x.UserName)
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
            @Html.LabelFor(x => x.PasswordOld, "Password old")
            @Html.PasswordFor(x => x.PasswordOld, new { @class = "form-control" })
            @Html.LabelFor(x => x.PasswordNew, "Password new")
            @Html.PasswordFor(x => x.PasswordNew, new { @class = "form-control" })
            <button class="btn btn-primary">Change</button>
        }
    </div>
</div>
