@{
    if (User.Identity.IsAuthenticated)
    {
        <a ui-sref="userProfile">@User.Identity.Name</a>
        <strong style="color:white"> / </strong>
        @Html.ActionLink("Logout", MVC.Account.Logout())
        <strong style="color:white"> / </strong>
        @Html.ActionLink("Change password", MVC.Account.ChangePassword())

        if (User.IsInRole("admin"))
        {
            <strong style="color:white"> / </strong>
            @Html.ActionLink("Add new user", MVC.Account.AddNewUser())
        }
    }
    else
    {
        if (@Url.RequestContext.HttpContext.Request.Url.AbsolutePath != @Url.Action(MVC.Account.ActionNames.Login, MVC.Account.Name))
        {
            @Html.ActionLink("Login", MVC.Account.Login())
        }
        else
        {
            @Html.ActionLink("Register", MVC.Account.Register())
        }
    }
}