<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @* css *@
    @Styles.Render(BundleHelper.CSS)

    @* base *@
    @Scripts.Render(BundleHelper.MODERNIZR)
    @Scripts.Render(BundleHelper.JQUERY)
    @Scripts.Render(BundleHelper.BOOTSTRAP)

    @* helpers *@
    @Scripts.Render(BundleHelper.LINQ)

    @* angular *@
    @Scripts.Render(BundleHelper.ANGULAR)
    @Scripts.Render(BundleHelper.ANGULAR_UI)
    @Scripts.Render(BundleHelper.ANGULAR_NG_GRID)

    @* angular app *@
    @Scripts.Render(BundleHelper.APP)
    @Scripts.Render(BundleHelper.APP_SUBJECT)
    @Scripts.Render(BundleHelper.APP_DOCUMENT)
    @Scripts.Render(BundleHelper.APP_SEARCH_CODA_OBJECT)
    @Scripts.Render(BundleHelper.APP_COMMON)

    @RenderSection("documents", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Coda order online", MVC.Document.Index().AddRouteValues(new { area = "" }), new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial(MVC.Account.Views.TopMenuLinks)
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-2 column">
            <div class="list-group">
                @Html.Partial(MVC.Account.Views.LeftMenuLinks)
            </div>
        </div>
        <div class="col-md-10 column">
            @RenderBody()
        </div>
    </div>
    <div>
        <div class="col-md-2 column">
        </div>
        <div class="col-md-10 column">
            <h3>
                h3. FOOTER
            </h3>
        </div>
    </div>
</body>
</html>