@using iOrder.Helpers;

<!DOCTYPE html>
<html ng-app="app" id="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* fix for IE *@
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />*@

    <title>@ViewBag.Title - My ASP.NET Application</title>

    @* css *@
    @Styles.Render(Links.Content.bootstrap_css)
    @Styles.Render(Links.Content.Site_css)
    @Styles.Render(Links.Content.ng_grid_css)
    @Styles.Render(Links.Content.angular_grid_custom_css)
    @Styles.Render(Links.Content.ui_select_css)

    @Scripts.Render(Links.Scripts.app.Constant_js)

    @* base *@
    @Scripts.Render(Links.Scripts._3rdparty.modernizr_2_6_2_js)
    @Scripts.Render(Links.Scripts.jquery.jquery_2_1_1_js)
    @Scripts.Render(Links.Scripts.jquery.jquery_validate_js)
    @Scripts.Render(Links.Scripts._3rdparty.bootstrap_js)
    @Scripts.Render(Links.Scripts.jquery.jquery_unobtrusive_ajax_js)

    @* init var instead of magical strings *@
    <script type="text/javascript">
        /// <reference path="~/Scripts/app/Constant.js" />

        // document
        ConstantHelper.router.documents.url = "@Url.Action(MVC.Document.ActionNames.Documents, MVC.Document.Name)";
        ConstantHelper.router.documents.templateUrl = "@Url.Action(MVC.Document.ActionNames.Documents, MVC.Document.Name)";
        // add new order
        ConstantHelper.router.newOrder.url = "@Url.Action(MVC.Document.ActionNames.NewOrder, MVC.Document.Name)";
        ConstantHelper.router.newOrder.templateUrl = "@Url.Action(MVC.Document.ActionNames.NewOrder, MVC.Document.Name)";
        // orders draft
        ConstantHelper.router.ordersDraft.url = "@Url.Action(MVC.Document.ActionNames.OrdersDraft, MVC.Document.Name)";
        ConstantHelper.router.ordersDraft.templateUrl = "@Url.Action(MVC.Document.ActionNames.OrdersDraft, MVC.Document.Name)";
        // orders history
        ConstantHelper.router.ordersHistory.url = "@Url.Action(MVC.Document.ActionNames.OrdersHistory, MVC.Document.Name)";
        ConstantHelper.router.ordersHistory.templateUrl = "@Url.Action(MVC.Document.ActionNames.OrdersHistory, MVC.Document.Name)";
        // lines
        ConstantHelper.router.lines.url = "@Url.Action(MVC.Document.ActionNames.Lines, MVC.Document.Name, new { documentID = ""})";
        ConstantHelper.router.lines.templateUrl = "@Url.Action(MVC.Document.ActionNames.Lines, MVC.Document.Name)";
        ConstantHelper.router.lines.urlGetJSON = "@Url.Action(@MVC.Document.ActionNames.GetLines, @MVC.Document.Name)";
        @*ConstantHelper.router.lines.urlSaveJSON = "@Url.Action(@MVC.Document.ActionNames.SaveLines, @MVC.Document.Name)";*@
        // user profile
        ConstantHelper.router.userProfile.url = "@Url.Action(MVC.Account.ActionNames.UserProfile, MVC.Account.Name)";
        ConstantHelper.router.userProfile.templateUrl = "@Url.Action(MVC.Account.ActionNames.UserProfile, MVC.Account.Name)";

        // helpers
        ConstantHelper.SpinnerID = "@ConstantDocument.SpinnerID";
        ConstantHelper.GridData = "@ConstantDocument.GridData";
        ConstantHelper.IsEditable = "@ConstantDocument.IsEditable";
        ConstantHelper.IsResponseError = "@ConstantDocument.IsResponseError";
        ConstantHelper.ResponseErrorMessage = "@ConstantDocument.ResponseErrorMessage";
        ConstantHelper.Document.paramCurrentPage.value = "@ConstantDocument.ParamCurrentPage";
        ConstantHelper.Document.paramDateBegin.value = "@ConstantDocument.ParamDateBegin";
        ConstantHelper.Document.paramDateEnd.value = "@ConstantDocument.ParamDateEnd";
        ConstantHelper.Document.paramDocTypeClasses.value = "@ConstantDocument.ParamDocTypeClasses";
        ConstantHelper.Document.paramFullTextFilter.value = "@ConstantDocument.ParamFullTextFilter";
        ConstantHelper.Document.paramPageNumberCount.value = "@ConstantDocument.ParamPageNumberCount";
        ConstantHelper.Document.paramPagesCount.value = "@ConstantDocument.ParamPagesCount";
        ConstantHelper.Document.paramPageSize.value = "@ConstantDocument.ParamPageSize";
        ConstantHelper.Document.paramSubjectID.value = "@ConstantDocument.ParamSubjectID";
        ConstantHelper.Document.paramTotalRows.value = "@ConstantDocument.ParamTotalRows";
        ConstantHelper.Document.paramWhereText.value = "@ConstantDocument.ParamWhereText";
    </script>

    @RenderSection("documents", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img src="@Links.Content.img.logo_png" class="img-rounded" />
                </a>
                @*@Html.ActionLink("Coda order online", MVC.Document.Index().AddRouteValues(new { area = "" }), new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial(MVC.Account.Views.TopMenuLinks)
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="col-md-2 column">
            <div class="list-group">
                @RenderSection("leftMenu", false)
            </div>
        </div>
        <div class="col-md-10 column">
            @RenderBody()
        </div>
    </div>
    <div>
        <div class="col-md-2 column">
        </div>
        <div class="col-md-10 column">
            <h3>
                @RenderSection("footer", false)
            </h3>
        </div>
    </div>

    @* angular *@
    @Scripts.Render(Links.Scripts.angular_source.angular_js)
    @Scripts.Render(Links.Scripts.angular_source.angular_resource_js)
    @Scripts.Render(Links.Scripts.angular_source.angular_sanitize_js)
    @Scripts.Render(Links.Scripts.angular_source.angular_route_js)
    @Scripts.Render(Links.Scripts.angular_ui.ui_bootstrap_tpls_js)
    @Scripts.Render(Links.Scripts.angular_ui.ui_bootstrap_js)
    @Scripts.Render(Links.Scripts.angular_ui.ui_select_js)
    @Scripts.Render(Links.Scripts.angular_ui.angular_ui_router_js)
    @Scripts.Render(Links.Scripts._3rdparty.ng_grid_js)

    @* helpers *@
    @Scripts.Render(Links.Scripts._3rdparty.Date_min_js)
    @Scripts.Render(Links.Scripts._3rdparty.linq_js)
    @Scripts.Render(Links.Scripts._3rdparty.spin_js)
    @Scripts.Render(Links.Scripts.angular_ui.angular_cache_js)
    @Scripts.Render(Links.Scripts.angular_ui.angular_spinner_js)

    @* angular app *@
    @Scripts.Render(Links.Scripts.app.app_js)
    @Scripts.Render(BundleHelper.APP_SUBJECT)
    @Scripts.Render(BundleHelper.APP_DOCUMENT)
    @Scripts.Render(BundleHelper.APP_ACCOUNT)
    @Scripts.Render(BundleHelper.APP_SEARCH_CODA_OBJECT)
    @Scripts.Render(BundleHelper.APP_COMMON)
</body>
</html>