@*@model IEnumerable<iOrder.Entity.Subject>*@

@{
    ViewBag.Title = "GetSubjects";
}

<h2>GetSubjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="gridStyle" ng-grid="gridOptions">
</div>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountantID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DelDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullTextSearch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndividualID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCentralized)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCustomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsImporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPrivate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LawAddressID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperRegistrationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperVATCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaperVATExtraNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemindTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecificationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WithoutStamp)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DelDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullTextSearch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GUID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndividualID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCentralized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsImporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPrivate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LawAddressID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperRegistrationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperVATCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperVATExtraNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemindTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecificationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithoutStamp)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    /table>
    <*@